
* {
    margin: 0;
    padding: 0;
}
    
html,body{
    height:100%; 
} 

body {   
    background: url(http://thumbs.dreamstime.com/images/bkg_body.gif);
    font-family: arial, sans-serif;
    font-size: 14px;
}   
    
h1,h2 {
    padding: 10px 10px 0; 
    text-align: left;
}

p {
    padding:10px;
} 

.input-cntl {
	font-size:13px;
	height:16px;
	width:250px;
	padding:2px 3px 2px;
}

.btn-cntl {
	background-color:#63b8ee;
	border:1px solid #3866a3;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:25px;
	width:100px;
	text-align:center;
}
.btn-cntl:hover {
	background-color:#468ccf;
}
.btn-cntl:disabled {
	background-color:#AAAAAA;
}
.btn-cntl:active {
	position:relative;
	top:1px;
} 
/************For error msg**********************/
#errorMessage{
	margin-top:5px;
	margin-left:20px;
	color:red;
	font-weight:bold;
}

/************For search**********************/
#search{
	position:absolute;
	top:40px;
	left:500px;
	width:450px;
}

/************For cart**********************/
#cart{
	position:absolute;
	top:-10px;
	right:0px;
	display:inline-block;
	background-image:url("images/cart_icon.png");
	background-repeat:no-repeat;
	width:38px;
	height:38px;
	cursor:pointer;
}
#count{
	position: absolute;
	top: -4px;
	left: -2px;
	color: #14396a;
	font-weight:bold;
	font-size: 115%;
	cursor:pointer;
}

/*=== Float Containment and Bug Fixes (Do Not Alter These!) ===*/
body:before {/*Opera min-height 100% Fix (Maleika)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/*eliminate need for inner non clearing element (Erik.J)*/
}

#wrapper:after,  /* #wrapper:after for IE8 min-height:100% Fix*/
#content:after { /* #content:after for Float Containment*/
    clear:both;
    content:"";
    display:block;
    height:1%;/*fix IE8 min-height:100% bug (Erik.J)*/
    font-size:0;
}
 
#header {
    min-width: 960px;
    height: 69px;/*100px with border*/
    position: relative;
    /*z-index: 1; lay it on top the main wrapper*/
    border-bottom: 1px solid black;
    color: black;
}

* html #wrapper {
    height: 100%;
    } /* is "min-height" in IE6 */

#wrapper {
    /*width: 960px;*/
    width: 96%;
    margin: 0 auto;
    margin-top: -100px; /* now pull it back up under header (same as header height)*/
    min-height: 100%;
}

#content {
    padding: 100px 0 60px; /*set a top and bottom padding to preserve the header and footer */
    width: 100%;/*haslayout*/
}

#footer {
    margin: -60px auto 0; /* a negative top margin pulls the footer up into viewport*/
    min-width: 960px;
    height: 59px;/*60px total (a sticky footer needs a fixed height to work properly)*/
    border-top: 1px solid #000;
    background: white;
    color: black;
}

#footer p{
    font-weight: bold;
    text-align: left;
    font-size: 80%;
    width: 500px;
}
/***for menu bar***/

#menuSelector {
    list-style: none;
    padding: 2px;
    margin: 1px 0px 0px 0px;
    height: 26px;
    min-width:900px;
    width:99.5%;
    background: #14396a;
}
#menuSelector li {
    float: left;
    height: 18px;
    width:80px;
    padding: 1px 10px 2px 10px;
    margin-right: 5px;
    margin-left: 10px;
    border: 2px solid #14396a;
    position: relative;
    background: #14396a;
    font-weight: bold;
}

#menuSelector li.selected{
	background: #DDD;
}

#menuSelector li.selected a {
    color: #14396a;
}
#menuSelector li a {
    text-decoration: none;
    color:  #FFF0DA;
}

ul#menuSelector li a:link {
    color: #FFF0DA;
}

ul#menuSelector li a:hover{
    color: #14396a;
    background: #DDD;
}

#featuredTb td {
	padding-left: 4px;
	padding-right: 4px;
}

/***********For Products display*****************************************/
div#tab1 #tab2 #tab3 {
    padding: 5px;
}

#categoryDisplay{
    margin: 5px;
    width: 150px;
    float:left;
}

#mainDisplay{
    margin: 5px 5px 5px 160px;
    padding: 4px;
    min-width: 700px;
    min-height: 300px;
    background-color: white;
    height:auto;
}

#featuredPt{
    padding: 4px;
    overflow-x: auto;
    overflow-y: auto;
    height: 375px;
    width:700px;
}

/*in product jsp*/
#selectedProductInfo{
	margin: 5px;
	padding: 5px;
}

/** For cart table **/
#cartTable{
	overflow-x: auto;
	overflow-y: auto;
	height: 370px;
	width:750px;
}

#shoppingCart {
	display: block;
	border-collapse: collapse;
	margin-left: 6px;
	/*min-width: 700px;
	position: absolute;*/
	top:150px;
	left:180px;
}
#shoppingCart thead th {
	padding: 8px 0;
	font-weight: bold;
	background-color: #DDD;
	color:#14396a;
	border: 2px solid white;
}

#shoppingCart thead th.picSC {
	width: 100px;
}
#shoppingCart thead th.itemSC {
	width: 300px;
}
#shoppingCart thead th.priceSC {
	width: 175px;
}
#shoppingCart thead th.qtySC {
	width: 130px;
}
#shoppingCart thead th.delSC {
	width: 60px;
}

#shoppingCart tbody {
	overflow-x: auto;
	overflow-y: auto;
	/*height: 300px;
	width:700px;*/
}
#shoppingCart tbody td {
	text-align: center;
	margin-top: 2px;
	font-weight: bold;
}
#shoppingCart tbody td.picSC {
	width: 100px;
}
#shoppingCart tbody td.itemSC {
	width: 300px;
}
#shoppingCart tbody td.priceSC {
	width: 175px;
}
#shoppingCart tbody td.qtySC {
	width: 130px;
}
#shoppingCart tbody td.delSC {
	width: 60px;
}
#emptyCart{
	font-weight: bold;
	position: absolute;
	left: 200px;
	top: 200px;
}

tr.productItm {
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid gray;
}

#shoppingCart tbody td img.thumb {
	vertical-align: bottom;
	border: 1px solid #ddd;
	margin-bottom: 4px;
}

.qtyinput {
	width: 40px;
	height: 22px;
	text-align: center;
}

tr.priceInfo {
	margin-top: 4px;
	background: #DDD;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

tr.total {
	height: 35px;
	line-height: 35px;
	background: #DDD;
	font-weight: bold;
	color:#14396a;
}

.checkout {
	text-align: center;
	height: 35px;
	line-height: 35px;
}

.remove {
	position: relative;
	float:center;
}

.thumb{
	width:50px;
	height: 50px;
}

.lbl{
	height:45px;
	width:120px;
}

#shippingInfo{
	width:300px;
	height: 200px;
}

#billingInfo{
	width:300px;
	height: 200px;
}

#cardInfo{
	width:600px;
	height: 150px;
}

/**********for comfirm table*************/
#confirmTable {
	display: block;
	border-collapse: collapse;
	margin-left: 6px;
	top:150px;
	left:180px;
}
#confirmTable thead th {
	padding: 8px 0;
	font-weight: bold;
	background-color: #DDD;
	color:#14396a;
	border: 2px solid white;
}

#confirmTable thead th.picSC {
	width: 100px;
}
#confirmTable thead th.itemSC {
	width: 300px;
}
#confirmTable thead th.priceSC {
	width: 175px;
}
#confirmTable thead th.qtySC {
	width: 130px;
}
#confirmTable thead th.delSC {
	width: 60px;
}

#confirmTable tbody td {
	text-align: center;
	margin-top: 2px;
	font-weight: bold;
}
#confirmTable tbody td.picSC {
	width: 100px;
}
#confirmTable tbody td.itemSC {
	width: 300px;
}
#confirmTable tbody td.priceSC {
	width: 175px;
}
#confirmTable tbody td.qtySC {
	width: 130px;
}
#confirmTable tbody td.delSC {
	width: 60px;
}
#confirmInfo {
	width: 500px;
	margin-top: 15px;
}